# OPA configuration for Istio ext_authz integration
apiVersion: v1
kind: ConfigMap
metadata:
  name: opa-istio-config
  namespace: bookinfo-opa
data:
  config.yaml: |
    plugins:
      envoy_ext_authz_grpc:
        addr: :9191
        path: istio/authz/allow
    decision_logs:
      console: true

